name: movie_db
description: To integrate all sorts of features provided by MovieDB website

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  get:
  dio: ^3.0.10
  cupertino_icons: ^1.0.2
  google_fonts: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:

  uses-material-design: true